/* Style sheet for troll game, 12/17/18 */

body {
	background: url(background.png) no-repeat;
	background-size: 2320px, 1480px;
}

h1 {
	font-size: 56px;
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
	margin-bottom: 3em;
}

div#button {
	width: 340px;
	height: 50px;
	background-color: rgba(0,0,0,0.7);
	font-size: 24px;
	border-radius: 40px;
	text-align: center;
	color: white;
	font-weight: bold;
	padding: 1em, 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

h2#result1 {
	color: white
}

h2#result2 {
	color: white
}

h2#result3 {
	color: white
}